{{ ansible_managed | ansible.builtin.comment }}

[Unit]
Description=Kubernetes API server: Frontend to the cluster's shared state
Wants=network.target network-online.target local-fs.target nebula.service
After=network.target network-online.target local-fs.target nebula.service

[Service]
Type=notify
NotifyAccess=main
ExecStart={{ kubernetes_api_server_config_service_binary_file }} \
  {{ kubernetes_api_server_config_flags }}

KillMode=process
Restart=always
RestartSec=5

LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
