{{ ansible_managed | ansible.builtin.comment }}
---
{{ 
  kubernetes_kubelet_config 
  | ansible.builtin.combine({
    "apiVersion": "kubelet.config.k8s.io/v1beta1",
    "kind": "KubeletConfiguration"
  })
  | ansible.builtin.to_nice_yaml(indent=2)
  | trim
}}
